{% extends "base.html" %}

{% block title %}Login - Plataforma do Congresso{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Login - Plataforma Congresso Assessoria Parlamentar</h1>
  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <form method="post" action="{% url 'portal:login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value|default:'' }}" required>
      {% if form.email.errors %}
      <div class="text-danger small mt-1">{{ form.email.errors.0 }}</div>
      {% endif %}
        </div>

        <div class="mb-3">
            <label for="token" class="form-label">Token:</label>
            <!-- Contêiner relativo para o input e o ícone -->
            <div class="position-relative">
                <!-- Adicionamos um padding-right no input para não sobrepor o texto ao ícone -->
        <input type="password" class="form-control" id="token" name="token" required style="padding-right: 40px;">
                {% if form.token.errors %}
                <div class="text-danger small mt-1">{{ form.token.errors.0 }}</div>
                {% endif %}
                <!-- Ícone posicionado absolutamente -->
                <span 
                    style="
                      position: absolute;
                      top: 50%;
                      right: 10px;
                      transform: translateY(-50%);
                      cursor: pointer;
                    "
                    onclick="toggleTokenVisibility()"
                >
                    <i id="toggle-icon" class="fa-solid fa-eye"></i>
                </span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  function toggleTokenVisibility() {
    var tokenInput = document.getElementById('token');
    var toggleIcon = document.getElementById('toggle-icon');
    if (tokenInput.type === 'password') {
      tokenInput.type = 'text';
      toggleIcon.classList.remove('fa-eye');
      toggleIcon.classList.add('fa-eye-slash');
    } else {
      tokenInput.type = 'password';
      toggleIcon.classList.remove('fa-eye-slash');
      toggleIcon.classList.add('fa-eye');
    }
  }
</script>
{% endblock %}