__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
.env
.DS_Store

buscaComissoesCD/data/*
!buscaComissoesCD/data/.gitkeep
buscaComissoesCD/staticfiles/
(CD) Levantamento de Proposições 2025.xlsx
/home/daianasales/vscode/plataforma-legislativa/20251113_Reunião_Betânia_Carlos_ASPAR.docx
/home/daianasales/vscode/plataforma-legislativa/Pauta Legislativa Prioritária MGI_2025.xlsx
